---
layout: default
---

<h1><span style="font-size: 2em">Drakkar</span></h1>

{% assign issues = site.pages | where: 'layout', 'issue' | sort: 'number' | reverse %}
{% assign articles = site.pages | where: 'layout', 'article' %}

{% for issue in issues %}
        <h2>Číslo {{ issue.number }}</h2>

        <a href="{{ issue.url }}">Stránka čísla</a>
        {% for article in articles %}
            {% if article.dir == issue.dir %}
                | <a href="{{ article.url }}">{{ article.title }}</a>
            {% endif %}
        {% endfor %}
{% endfor %}
