<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            max-width: 700px;
            margin: 1em auto;
            overflow-y: scroll;
            font-family: sans-serif;
        }
        p {
            margin: 0;
        }
        blockquote {
            margin-left: 0;
            padding-left: 12px;
            border-left: solid #eee 12px;
        }
    </style>
    <script>
        // TODO debug
        {% if site.url == 'https://godric-cz.github.io' %}
        window.addEventListener('load', () => {
            for (var i = 0; i < document.links.length; i++) {
                let link = document.links[i]
                let href = link.getAttribute('href')
                if (href[0] == '/') {
                    link.setAttribute('href', '/drakkar-test' + href) // TODO debug hack
                }
            }
        })
        {% endif %}
    </script>
</head>
<body>

{{ content }}

</body>
</html>
